header{
    text-align: center;
    background-color: aqua;
    color: red;
}
h3{
    text-align: center;
    color: blue;
}
footer{
    text-align: center;
    background-color: aqua;
    color: red;
    bottom: 0;
    width: 100%;
    position: fixed;
}