header{
    text-align: center;
    background-color: aqua;
    color: red;
}
footer{
    text-align: center;
    background-color: grey;
    color: bisque;
    position: fixed;
    bottom: 1%;
    width: 100%;
}